<%- include('header') %>
<link rel="stylesheet" href="/hangzhou.css">

  <div class="charts" id="charts"></div>
<%- include('script') %>
  <script src="/hangzhou_build.min.js"></script>
<%- include('footer') %>
