<%- include('header') %>

  <input type="hidden" id="datas" value="<%= datas %>">
  <div id="charts"></div>
  <%- include('script') %>
<script src="/js/page/hangzhou.js"></script>
    <%- include('footer') %>
