<%- include('header')%>
  <div class="home">
    <div class="link-group">
      <a href="/hangzhou">杭州滨江</a>
      <a href="/shanghai">上海</a>
    </div>
    <section class="info hangzhou">
      <div class="charts"></div>
    </section>
    <section class="info shanghai">
      <div class="charts"></div>
    </section>
  </div>
  <%- include('script') %>
  <script src="/js/home_build.min.js"></script>
<%- include('footer')%>
