<%- include('header') %>
<link rel="stylesheet" href="/shanghai.css">

<div class="charts" id="charts"></div>
<%- include('script') %>
<script src="/shanghai_build.min.js"></script>

<%- include('footer') %>
