.home {
  background: linear-gradient(to bottom right, #a0abb7, #3a5b7d);
  height: 1300px;
  width: 100vw;

  .link-group {
    text-align: left;
  }

  .info {
    width: 50%;
    min-height: 600px;
    height: 40%;
    display: inline-block;

    .charts {
      height: 100%;
      width: 100%;
    }
  }
}
